@model MvcProject.Models.UserViewModel

@{
    ViewBag.Title = "Home";
}

<br />

<div class="form-horizontal">
    <div class="row">
        <div>
            @if (Model.UserPhoto != null)
            {
                <img class="col-md-5" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.UserPhoto)" />
            }
            else
            {
                <img class="col-md-5" src="/Content/nophoto.png" />
            }
        </div>
        <div class="col-md-5 form-horizontal">
            <div class="form-group lead">
                @Model.FirstName @Model.LastName
            </div>
            <div class="form-group">
                @Model.DateOfBirth.ToShortDateString()
            </div>

            @if (User.Identity.Name != Model.UserName)
            {
                <div class="form-group">
                    <a href="@Url.Action("Photos", "Photo", new { userName = Model.UserName, page = 1, currentPhotoId = 0 })" class="btn btn-default">
                        See photo album of @Model.FirstName
                    </a>
                </div>
            }

        </div>
        <div class="col-md-2 text-right">
            @if (User.Identity.Name == Model.UserName)
            {
                if (User.IsInRole("admin"))
                {
                    <a href="@Url.Action("UsersEdit", "Admin")">
                        <span class="glyphicon glyphicon-user"></span>
                        Edit users
                    </a>
                    <br />
                }
                <a href="@Url.Action("UserSettings")">
                    <span class="glyphicon glyphicon-cog"></span>
                    Settings
                </a>
            }
        </div>
    </div>
    <br />
    <hr />
    <div class="row col-md-12 lead">
        Last photos
    </div>
    @{var lastPhotos = ViewBag.LastPhotos as IEnumerable<MvcProject.Models.PhotoViewModel>;}
    <div class="row">
        @if (lastPhotos != null && lastPhotos.Count() != 0)
        {
            foreach (var photo in lastPhotos)
            {
                <div class="col-md-2 last-photo">
                    <div class="last-photo-wrapper">
                        <a href="@Url.Action("Photos", "Photo", new { userName = Model.UserName, page = 1, currentPhotoId = photo.Id })">
                            <img class="last-photo-content" src="data:image/jpeg;base64,@Convert.ToBase64String(photo.Image)" />
                        </a>
                    </div>
                </div>
            }
        }
        else
        {
            <p class="text-muted text-center lead">No photos</p>
        }
    </div>
</div>
