@model MvcProject.Models.PhotoViewModel

@{
    ViewBag.Title = "Add photo";
}

<h2>Add photo</h2>
<h5>@Html.ActionLink("Back to photos", "Photos", new { page = ViewBag.CurrentPage, photoName = ViewBag.PhotoName })</h5>
<hr />

@using (Html.BeginForm("AddPhoto", "Photo", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Hidden("page", (int?)ViewBag.CurrentPage)
    @Html.Hidden("photoName", (string)ViewBag.PhotoName)

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Description, new { @class = "control-label" })
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <span class="glyphicon glyphicon-file"></span>
                <label class="control-label">Image file</label>
            </div>
            <div class="col-md-9">
                <input type="file" name="uploadImage" accept="image/*" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Add photo" class="btn btn-gray" />
            </div>
        </div>
    </div>
}
