@model MvcProject.Models.PhotoViewModel

@{
    ViewBag.Title = "Delete photo";
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    @Html.Hidden("page", (int?)ViewBag.CurrentPage)
    @Html.Hidden("photoName", (string)ViewBag.PhotoName)

    <div class="form-horizontal">
        <div class="col-md-7 form-horizontal">
            <div class="form-group lead">
                @Html.DisplayFor(model => model.Name)
            </div>

            <div class="form-group">
                @Html.DisplayFor(model => model.Description)
            </div>

            <div class="form-group">
                <input type="submit" value="Delete photo" class="btn btn-default" />
                @Html.ActionLink("Cancel", "Photos",
               new { userName = User.Identity.Name, page = ViewBag.CurrentPage, currentPhotoId = Model.Id, photoName = ViewBag.PhotoName },
               new { @class = "btn btn-default" })
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                @if (Model.Image != null)
                {
                    <img class="normal-photo" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" />
                }
                else
                {
                    <br />
                    <p class="text-muted lead">No photo</p>
                }
            </div>
        </div>
    </div>
}
