@model MvcProject.Models.PhotosViewModel

@{
    ViewBag.Title = "Photos";
}

<div class="row form-horizontal">
    <div class="col-md-6">
        <h2>
            @ViewBag.Title
            <img src="/Content/loader.gif" alt="loading..." id="loadingPhotos" style="display:none" />
        </h2>
        @if (User.Identity.Name == Model.ChosenUser.UserName)
        {
            <h5>
                @Html.ActionLink("Back to profile", $"Index/{Model.ChosenUser.Id}", "Home") |
                @if (string.IsNullOrWhiteSpace(ViewBag.PhotoName))
                {
                    @Html.ActionLink("Add photo", "AddPhoto", new { page = Model.PageInfo?.PageNumber })
                }
                else
                {
                    @Html.ActionLink("Add photo", "AddPhoto", new { page = Model.PageInfo?.PageNumber, photoName = ViewBag.PhotoName })
                }
            </h5>
        }
        else
        {
            <h5>@Html.ActionLink("Back to profile", $"Index/{Model.ChosenUser.Id}", "Home")</h5>
        }
    </div>
    <div class="col-md-6 text-right">
        <br />
        <div class="row col-md-12 form-inline">
            @using (Ajax.BeginForm("SearchPhotos", "Photo",
                new AjaxOptions {
                    UpdateTargetId = "photosChanges",
                    LoadingElementId = "loadingPhotos",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "post"
                }))
            {
                <div class="form-group">
                    <input type="text" class="form-control" name="photoName" value="@ViewBag.PhotoName" placeholder="Enter photo name ..." />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Search" />
                </div>
                @Html.HiddenFor(model => model.ChosenUser.UserName, new { @id = "userName", @Name = "userName" })
                @Html.HiddenFor(model => model.CurrentPhoto.Id, new { @id = "currentPhotoId", @Name = "currentPhotoId" })
                <input type="hidden" name="page" value="1" />
            }
        </div>
        <div class="row col-md-12">
            <h5>
                @Ajax.ActionLink("Show all photos", "Photos",
               new {
                   userName = Model.ChosenUser.UserName,
                   page = 1,
                   currentPhotoId = Model.CurrentPhoto?.Id ?? 0
               },
               new AjaxOptions
               {
                   UpdateTargetId = "photosChanges",
                   LoadingElementId = "loadingPhotos",
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "post"
               })
            </h5>
        </div>
    </div>
</div>

<hr class="col-md-12" />

<div id="photosChanges">
    @Html.Partial("_PhotosChanges", Model)
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}