@using MvcProject.Infrastructure.Helpers
@model MvcProject.Models.UsersViewModel

@if (Model.Users != null && Model.Users.Count() != 0)
{
    <div class="row col-md-12">
        @Html.PageLinks(Model.PageInfo, "foundUsers", "loading", x => Url.Action("SearchUsers",
        new
        {
            page = x,
            firstName = ViewBag.FirstName,
            lastName = ViewBag.LastName
        }))
        <br />
        <br />
    </div>
    <div class="row col-md-12">
        @foreach (var user in Model.Users)
        {
            <div class="row">
                <a href="@Url.Action("Index", "Home", new { id = user.Id })">
                    <div class="col-md-2">
                        @if (user.UserPhoto != null)
                        {
                            <img class="big-photo" src="data:image/jpeg;base64,@Convert.ToBase64String(user.UserPhoto)" />
                        }
                        else
                        {
                            <img class="big-photo" src="/Content/nophoto.png" />
                        }
                    </div>
                    <div class="col-md-10">
                        <h4>@user.FirstName @user.LastName</h4>
                        <p>@user.DateOfBirth.ToShortDateString()</p>
                    </div>
                </a>
            </div>
            <br />
        }
    </div>
}
