
@if (Request.IsAuthenticated)
{
    <div class="navbar-right">
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            <li>@Html.ActionLink("My photos", "Photos/", "Photo")</li>
            <li>@Html.ActionLink("Search users", "SearchUsers", "Home")</li>
            <li>@Html.ActionLink("Log out", "Logout", "Account", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
        </ul>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
