@using MvcProject.Infrastructure.Helpers
@model MvcProject.Models.PhotosViewModel

<div id="photosList">
    @Html.Partial("_PhotosList", Model)
</div>
<br />
<br />
<div id="bigPhoto">
    @if (Model.CurrentPhoto != null)
    {
        <div class="row form-group">
            <div class="col-md-6">
                <img class="big-photo" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.CurrentPhoto.Image)" />
            </div>
            <div class="col-md-6">
                @BigPhotoDescription(Model.CurrentPhoto, Model.CurrentPhotoRatings, Model.ChosenUser.UserName,
               Model.RatingOfCurrentUser, Model.PageInfo.PageNumber)
            </div>
        </div>
    }
    else
    {
        <center>
            <img class="big-photo" src="~/Content/no-selected-photo.png" />
        </center>
    }
</div>



@helper BigPhotoDescription(MvcProject.Models.PhotoViewModel photo, IEnumerable<MvcProject.Models.RatingViewModel> currentPhotoRatings,
    string chosenUserName, int? ratingOfCurrentUser, int page)
{
    <div class="form-group">
        <h3>@photo.Name</h3>
    </div>
    <div class="form-group">
        <p>@photo.Description</p>
    </div>
    if (User.Identity.Name == chosenUserName)
    {
        <div class="form-group">
            @if (string.IsNullOrWhiteSpace(ViewBag.PhotoName))
            {
                @Html.ActionLink("Edit info", "EditPhoto", new { id = photo.Id, page = page })
                <span>|</span>
                @Html.ActionLink("Delete photo", "DeletePhoto", new { id = photo.Id, page = page })
            }
            else
            {
                @Html.ActionLink("Edit info", "EditPhoto", new { id = photo.Id, page = page, photoName = ViewBag.PhotoName })
                <span>|</span>
                @Html.ActionLink("Delete photo", "DeletePhoto", new { id = photo.Id, page = page, photoName = ViewBag.PhotoName })
            }
        </div>
    }
    <div class="form-group">
        <label class="control-label">Total rate: @photo.TotalRate</label>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            @Html.UsersWhoRatedMenu(currentPhotoRatings, x => Url.Action("Index", "Home", new { id = x }))
        </div>

        <div class="col-md-4">
            @if (string.IsNullOrWhiteSpace(ViewBag.PhotoName))
            {
                @Html.StarsMenu(5, "photosChanges", "loadingPhotos", x => Url.Action("Rate", "Rating",
               new { userName = chosenUserName, page = page, photoId = photo.Id, rating = x }))
            }
            else
            {
                @Html.StarsMenu(5, "photosChanges", "loadingPhotos", x => Url.Action("Rate", "Rating",
               new { userName = chosenUserName, page = page, photoId = photo.Id, photoName = ViewBag.PhotoName, rating = x }))
            }
        </div>

        <div class="col-md-5">
            @if (ratingOfCurrentUser == null)
            {
                <p class="text-muted">My rate: no rating</p>
            }
            else
            {
                <div>
                    <span class="glyphicon glyphicon-ok"></span>
                    My rate: @ratingOfCurrentUser |
                    @if (string.IsNullOrWhiteSpace(ViewBag.PhotoName))
                    {
                        <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#photosChanges" data-ajax-loading="#loadingPhotos"
                           href="@Url.Action("RemoveRate", "Rating", new { userName = chosenUserName, page = page, photoId = photo.Id })">
                            <span class="glyphicon glyphicon-trash"></span>
                            Remove rate
                        </a>
                    }
                    else
                    {
                        <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#photosChanges" data-ajax-loading="#loadingPhotos"
                           href="@Url.Action("RemoveRate", "Rating", 
                                new { userName = chosenUserName, page = page, photoId = photo.Id, photoName = ViewBag.PhotoName })">
                            <span class="glyphicon glyphicon-trash"></span>
                            Remove rate
                        </a>
                    }
                </div>
            }
        </div>
    </div>
}
