@using MvcProject.Infrastructure.Helpers
@model MvcProject.Models.PhotosViewModel

<div class="row">
    @PhotosList(Model.Photos, Model.ChosenUser.UserName, Model.PageInfo?.PageNumber ?? 0)
</div>
<br />
<div class="row col-md-12">
    <div class="btn-group">
        @if (string.IsNullOrWhiteSpace(ViewBag.PhotoName))
        {
            @Html.PageLinks(Model.PageInfo, "photosChanges", "loadingPhotos", x => Url.Action("Photos",
           new
           {
               userName = Model.ChosenUser.UserName,
               page = x,
               currentPhotoId = Model.CurrentPhoto?.Id ?? 0,
           }))
        }
        else
        {
            @Html.PageLinks(Model.PageInfo, "photosChanges", "loadingPhotos", x => Url.Action("SearchPhotos",
           new
           {
               userName = Model.ChosenUser.UserName,
               page = x,
               currentPhotoId = Model.CurrentPhoto?.Id ?? 0,
               photoName = ViewBag.PhotoName
           }))
        }
    </div>
</div>


@helper PhotosList(IEnumerable<MvcProject.Models.PhotoViewModel> photos, string chosenUserName, int page)
{
    if (photos != null && photos.Count() != 0)
    {
        foreach (var photo in photos)
        {
            <div class="col-md-3">
                <div class="col-md-5">
                    @if (string.IsNullOrWhiteSpace(ViewBag.PhotoName))
                    {
                        <a href="@Url.Action("Photos", new { userName = chosenUserName, page = page, currentPhotoId = photo.Id })"
                           data-ajax="true" 
                           data-ajax-mode="replace" 
                           data-ajax-update="#photosChanges" 
                           data-ajax-loading="#loadingPhotos" >
                            <img class="photo-in-list" src="data:image/jpeg;base64,@Convert.ToBase64String(photo.Image)" />
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("SearchPhotos", new { userName = chosenUserName, page = page, currentPhotoId = photo.Id, photoName = ViewBag.PhotoName })"
                           data-ajax="true" 
                           data-ajax-mode="replace" 
                           data-ajax-update="#photosChanges" 
                           data-ajax-loading="#loadingPhotos" >
                            <img class="photo-in-list" src="data:image/jpeg;base64,@Convert.ToBase64String(photo.Image)" />
                        </a>
                    }
                </div>
                <div class="col-md-7 name-overflow-cut">
                    <h4>@photo.Name</h4>
                    <p>Total rate: @photo.TotalRate</p>
                </div>
            </div>
        }
    }
    else 
    { 
        <p class="col-md-12 lead text-muted">No photos ...</p>
    }
}
