@model IEnumerable<MvcProject.Models.UserViewModel>

@if (Model != null)
{
    foreach (var user in Model)
    {
        <div class="row">
            <a href="/Home/Index/@user.Id">
                <div class="col-md-2">
                    @if (user.UserPhoto != null)
                    {
                        <img class="big-photo" src="data:image/jpeg;base64,@Convert.ToBase64String(user.UserPhoto)" />
                    }
                    else
                    {
                        <img class="big-photo" src="/Content/nophoto.png" />
                    }
                </div>
                <div class="col-md-5">
                    <h4>@user.FirstName @user.LastName</h4>
                    <p>@user.DateOfBirth.ToShortDateString()</p>
                </div>
            </a>
            <div class="col-md-5">
                @Html.ActionLink("Edit", "EditUser", new { id = user.Id }) |
                @Html.ActionLink("Delete", "DeleteUser", new { id = user.Id })
            </div>
        </div>
        <br />
    }
}
